{% load embed %}
<div id="_ml_tabs">
    <div id="_ml_tab_header">
    	<ul>
    		<li id="_ml_tab_images" class="_ml_current"><a href="#" onclick="_ml_tab_switch('images')">Images</a></li>
    		<li id="_ml_tab_audio"><a href="#" onclick="_ml_tab_switch('audio')">Audio</a></li>
    		<li id="_ml_tab_movies"><a href="#" onclick="_ml_tab_switch('movies')">Movies</a></li>
    		<li id="_ml_tab_documents"><a href="#" onclick="_ml_tab_switch('documents')">Documents</a></li>
			<li id="_ml_tab_upload"><a href="#" onclick="_ml_tab_switch('upload')">Upload</a></li>
    	</ul>
    </div>
    <div id="_ml_tab_content">
	    <div id="_ml_content_images" class="_ml_tab_content" style="display:block">
            <div class="_ml_mobs">
                {% if images %}
                <ul>
                {% for image in images %}
                    <li><a href="#" onclick="tinyMCE.execInstanceCommand('{{ editor_id }}', 'mlImageCreate', '{{ image.get_url }}');">{% embed_thumb image %}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <div class="_ml_no_mobs">No images found.</div>
                {% endif %}
            </div>
        </div>
	    <div id="_ml_content_audio" class="_ml_tab_content" style="display:none">
            <div class="_ml_mobs">
                {% if audio %}
                <table>
                {% for audio_file in audio %}
                    <tr>
                        <td><a href="#" onclick="tinyMCE.execInstanceCommand('{{ editor_id }}', 'mlAudioCreate', '{{ audio_file.get_url }}');">{% embed_thumb audio_file %}</a></td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                <div class="_ml_no_mobs">No audio files found.</div>
                {% endif %}
            </div>
        </div>
	    <div id="_ml_content_movies" class="_ml_tab_content" style="display:none">
            <div class="_ml_mobs">
				<form method="get" action="#" onsubmit="tinyMCE.execInstanceCommand('{{ editor_id }}', 'mlMovieEmbed', false); return false;">
					<label for="id_{{ editor_id }}_movie_url">YouTube URL:</label>
					<input type="text" size="30" id="id_{{ editor_id }}_movie_url" name="movie_url" />
					<input type="submit" value="Embed" />
				</form>
                {% if movies %}
                <table>
                {% for movie in movies %}
                    <tr>
						<td><a href="#" onclick="tinyMCE.execInstanceCommand('{{ editor_id }}', 'mlMovieCreate', {'url':'{{ movie.get_url }}', 'width':{{ movie.width }}, 'height':{{ movie.height }}});">{% embed_thumb movie %}</a></td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                <div class="_ml_no_mobs">No movies found.</div>
                {% endif %}
            </div>
        </div>
	    <div id="_ml_content_documents" class="_ml_tab_content" style="display:none">
            <div class="_ml_mobs">
                {% if documents %}
                <table>
                {% for doc in documents %}
                    <tr>
                        <td><a href="#" onclick="tinyMCE.execInstanceCommand('{{ editor_id }}', 'mlDocCreate', '{{ doc.get_url }}');">{% embed_thumb doc %}</a></td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                <div class="_ml_no_mobs">No documents found.</div>
                {% endif %}
            </div>
        </div>
		<div id="_ml_content_upload" class="_ml_tab_content" style="display:none">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="400" height="150" id="sendr" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="/media/swf/sendr.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="flashvars" value="project_id={{ project.identifier }}&editor_id={{editor_id}}" />
				<embed src="/media/swf/sendr.swf" flashvars="project_id={{ project.identifier }}&editor_id={{editor_id}}" quality="high" bgcolor="#ffffff" width="400" height="150" name="sendr" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			</object>
		</div>
    </div>
</div>