<html>
<head>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/prototype.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/scriptaculous.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/js/effects.js"></script>
    <script type="text/javascript">
        function validateFileUpload() {
            var file_field = document.getElementById('Filedata');
            if (file_field.value == '') {
                alert("Please choose a file first.");
                file_field.focus();
                return false;
            }
            return true;
        }
    </script>
    <style type="text/css">
    body, td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
    #_ml_upload_progress { margin: 0 0 0 10px; }
    </style>
</head>
<body>
    
<form onsubmit="Effect.Appear('_ml_upload_progress',{duration:0.2});" method="post" enctype="multipart/form-data" action="/mnml/upload/{{project_id}}/?editor_id={{editor_id}}">
    <table>
        <tr>
            <td>File:</td>
            <td><input type="file" name="Filedata"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Upload">
                <span id="_ml_upload_progress" style="display:none"><img src="{{MEDIA_URL}}/images/indicator.gif"> Please wait...</span>
            </td>
        </tr>
    </table>
</form>
</body>
</html>