{% extends "docbox/base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" media="all" href="{{DOCBOX_MEDIA_URL}}/css/default.css" />
    <link type="text/css" rel="stylesheet" media="all" href="{{DOCBOX_MEDIA_URL}}/css/page.css" />
{% endblock %}

{% block body %}
<body id="body">
    <div id="all">
        <div id="header">
	        <h1><a href="/">DocBox Example Site</a></h1>
        </div>
	    <div id="content">
		{% block content %}{% endblock %}
	    </div>
	</div>
</body>
{% endblock %}
