{% extends "writer.html" %}
{% block title %}Write some docu{% endblock%}
{% block js %}
<script>var MEDIA_URL = "{{ MEDIA_URL }}";</script>
<script src="/media/js/tiny_mce/tiny_mce.js"></script>
<script src="/media/js/prototype.js"></script>
<script src="/media/js/lb.js"></script>
<script src="/media/js/load_tinymce.js"></script>
{% endblock %}
{% block content %}

<table>
    <tr>
        <td class="projects-nav" valign="top">
<div id="pages">
<h2>Project: <a href="/writer/project/{{ project.identifier }}/">{{ project.identifier }}</a></h2>
<ul>
    {% if page %}
    <li class="newpage"><a href="/writer/project/{{ project.identifier }}/page/">new page</a></li>
    {% endif %}
{% for page in project.pages %}
    <li><a href="/writer/project/{{ project.identifier }}/page/{{ page }}">{{ page }}</a></li>
{% endfor %}
</ul>
</div>

{% if projects %}
<div id="projectlist">
    <h2>Projects</h2>
    <ul>
        <li class="newproject"><a href="/writer/project/">new project</a></li>
{% for project in projects %}
        <li><a href="/writer/project/{{ project.identifier }}/">{{ project.identifier }}</a></li>
{% endfor %}
    </ul>
</div>
{% endif %}
</td>
<td>
<div id="project">
<div class="yui-skin-sam"> 
    <form method="post" action=".">
        {% if changes %}
        <div id="changes">
        	Branch: <select><option>master</option><option>v1.0</option></select>
        	<span style="float:right;">
        	<strong><a href="#" onclick="document.getElementById('commit').style.display='block';">{{ changes|length }} documentation changes</a></strong>
        	</span>
        	<div style="display:none;" id="commit">
        	<div style="margin:10px 0 0 0;">
        		<table>
        		    {% for change in changes %}
        		    <tr>
        		    {% if change.isHTML %}
        			<td>{{ change.text_status }}</td><td><a href="/writer/project/{{project.identifier}}/page/{{ change.basename }}/">{{ change.basename }}</td></li>
        			{% else %}
        			<td>{{ change.text_status }}</td><td><a href="/project/{{project.identifier}}/{{ change.filename }}">{{ change.filename }}</a></td>
        			{% endif %}
        			</tr>
        			{% endfor %}
        		</table>
        	</div>
        	<div style="margin:10px 0 0 0;"><textarea style="width:719px;height:100px;" name="commitString"></textarea></div>
        	<div>
        	<span style="float:right">
        	<input type="submit" name="revert" value="Cancel" />
        	<input type="submit" name="commit" value="Commit" />
        	</span>
        	</div>
        	<br style="clear:both;">
        	</div>
        </div>{% endif %}

        {% if page %}
        <h2>{{ project.identifier }}: {{ page }}</h2>
        <p><a id="link_result" href="/{{ project.identifier }}/{{ page }}/">View result</a></p>
        {% else %}
        <h2>{{ project.identifier }}: Create a new page</h2>
        <label for="page_name">Title:</label><input type="input" id="page_name" name="page-name" maxlength="200" value="{{ page }}" /> {% if page_name_error %}<span id="page_name_error">{{ page_name_error }}</span>{% endif %}
        {% endif %}
        <textarea id="docarea" name="doc-content" class="mceEditor" style="width:742px;height: 350px;">
            {{ documentation|safe }}
        </textarea>
        <input type="submit" value="Send" />
    </form>
</div>
</div>
</td>
</tr>
</table>
{% endblock %}
