{% extends "base.html" %}
{% block title %}Write some docu{% endblock%}
{% block noextrahead%}
<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/skin.css">
<!-- Utility Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.5.2/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.5.2/build/editor/editor-beta-min.js"></script>
<script type="text/javascript">
window.onload = function() {
    var myEditor = new YAHOO.widget.Editor('docarea', { height: '450px', width: '742px', handleSubmit: true }); 
    myEditor.render(); 
    
}
</script>

{% endblock %}
{% block extrahead %}
<script src="/media/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
	mode : "textareas",
	theme : "advanced",
    plugins : "safari",
	content_css : "{{ MEDIA_URL }}/css/content.css",
	editor_selector : "mceEditor",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,
	setup : function(ed) {
		// Gets executed after DOM to HTML string serialization
		ed.onPostProcess.add(function(ed, o) {
			// State get is set when contents is extracted from editor
			if (o.get) {
				// Replace all strong/b elements with em elements
				o.content = o.content.replace(/<\/pre>\n<pre>/g, '\n');
				o.content = o.content.replace(/&amp;nbsp;/g, ' ');
			}
		});
	}
});
</script>
{% endblock %}
{% block content %}
{% if docstates %}
<form method='POST' action='.'>
<div style="background:#ddddf3;padding: 10px 10px; margin: 0 0 10px 0; width:724px;">
	Branch: <select><option>master</option><option>v1.0</option></select>
	<span style="float:right">
	<strong><a href="#" onclick="document.getElementById('commit').style.display='block';">{{ docstates|length }} documentation changes</a></strong>
	</span>
	<div style="display:none;" id="commit">
	<div style="margin:10px 0 0 0;">
		<ul>
		    {% for docstatus in docstates %}
			<li><a href="/writer/{{ docstatus.project.identifier }}/">{{ docstatus.project.identifier }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div style="margin:10px 0 0 0;"><textarea style="width:719px;height:100px;" name="commitString"></textarea></div>
	<div>
	<span style="float:right">
	<input type="submit" name="cancelCommit" value="Cancel" />
	<input type="submit" name="commit" value="Commit" />
	</span>
	</div>
	<br style="clear:both;">
	</div>
</div>
</form>
{% endif %}
<p><a href="/writer/">New document</a>{% if project %} | <a href="/{{ project.identifier }}/">Preview this document</a>{% endif %}</p>
{% if projects %}
<ul id="projectlist">
{% for project in projects %}
    <li><a href="/writer/{{ project.identifier }}/">{{ project.identifier }}</a></li>
{% endfor %}
</ul>
{% endif %}

<div class="yui-skin-sam"> 
    <form method="post" action=".">
        <div class="meta">
            <ul>
        {{form.as_ul}}
        </ul>
        </div>
        <textarea id="docarea" name="doc-content" class="mceEditor" style="width: 742px; height: 350px;">
            {{ documentation|safe }}
        </textarea>
        <input type="submit" value="Send" />
    </form>
</div>
{% endblock %}
