{% extends "view.html" %}
{% block js %}
	<script type="text/javascript" src="{{DOCBOX_MEDIA_URL}}/js/loadmedia.js"></script>
	<script type="text/javascript">
	    window.onload = function() {
	      load_audio_and_movies();  
	    };
	</script>
{% endblock %}
{% block title %}{% if page.title %}{{ page.title }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
{% if page.title %}
<a href="./edit/">Edit this page</a>
<h1>{{ page.title }}</h1>
{% endif %}
{{ page_content|safe }}
{% endblock %}