{% extends "writer.html" %}
{% block title %}Write some docu{% endblock%}
{% block extrahead %}

{% endblock %}
{% block content %}
<table>
    <tr>
        <td class="projects-nav" valign="top">
            {% if project %}
            <div id="pages">
            <h2>Project: <a href="/writer/project/{{ project.identifier }}/">{{ project.identifier }}</a></h2>
            <ul>
                <li class="newpage"><a href="/writer/project/{{ project.identifier }}/page/">new page</a></li>
            {% for page in project.pages %}
                <li><a href="/writer/project/{{ project.identifier }}/page/{{ page }}">{{ page }}</a></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}

            {% if projects %}
            <div id="projectlist">
                <h2>Projects</h2>
                <ul>
                    {% if project %}
                    <li class="newproject"><a href="/writer/project/">new project</a></li>
                    {% endif %}
            {% for project in projects %}
                    <li><a href="/writer/project/{{ project.identifier }}/">{{ project.identifier }}</a></li>
            {% endfor %}
                </ul>
            </div>
            {% endif %}
</td>
<td>
<div id="project">
    <form method="post" action="." class="project-form">

    {% if changes %}
    <div id="changes">
    	Branch: <select><option>master</option><option>v1.0</option></select>
    	<span style="float:right;">
    	<strong><a href="#" onclick="document.getElementById('commit').style.display='block';">{{ changes|length }} documentation changes</a></strong>
    	</span>
    	<div style="display:none;" id="commit">
    	<div style="margin:10px 0 0 0;">
    		<table>
    		    {% for change in changes %}
    		    <tr>
    		    {% if change.isHTML %}
    			<td>{{ change.text_status }}</td><td><a href="/writer/project/{{project.identifier}}/page/{{ change.basename }}/">{{ change.basename }}</td></li>
    			{% else %}
    			<td>{{ change.text_status }}</td><td><a href="/project/{{project.identifier}}/{{ change.filename }}">{{ change.filename }}</a></td>
    			{% endif %}
    			</tr>
    			{% endfor %}
    		</table>
    	</div>
    	<div style="margin:10px 0 0 0;"><textarea style="width:719px;height:100px;" name="commitString"></textarea></div>
    	<div>
    	<span style="float:right">
    	<input type="submit" name="revert" value="Cancel" />
    	<input type="submit" name="commit" value="Commit" />
    	</span>
    	</div>
    	<br style="clear:both;">
    	</div>
    </div>{% endif %}
        
    <h2>{% if project %}{{ project.identifier }}{% else %}Create a new project{% endif %}</2>
        <ul>
            {{form.as_ul}}
        </ul>
        <input type="submit" value="Submit" />
    </form>
</div>
</td>
</tr>
</table>

{% endblock %}

