{% extends "writer.html" %}
{% block title %}Write some docu{% endblock%}
{% block js %}
<script>
    var DOCBOX_URL = "{{ DOCBOX_URL }}";
    var DOCBOX_MEDIA_URL = "{{ DOCBOX_MEDIA_URL }}";
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var CONTENT_CSS = DOCBOX_MEDIA_URL + "/css/default.css";
</script>
<script src="{{ DOCBOX_MEDIA_URL }}/js/tiny_mce/tiny_mce.js"></script>
<script src="{{ DOCBOX_MEDIA_URL }}/js/prototype.js"></script>
<script src="{{ DOCBOX_MEDIA_URL }}/js/lb.js"></script>
<script src="{{ DOCBOX_MEDIA_URL }}/js/load_tinymce.js"></script>
{% endblock %}
{% block content %}

<table>
    <tr>
        <td class="projects-nav" valign="top">
<div id="pages">
<h2>Project: <a href="{{ project.absolute_url }}edit/">{{ project.identifier }}</a></h2>
<ul>
{% if page %}
    <li class="newpage"><a href="{{ project.absolute_url }}page/add/">new page</a></li>
{% endif %}
{% for page in project.pages %}
    <li><a href="{{ page.absolute_url }}edit/">{{ page.name }}</a></li>
{% endfor %}
</ul>
</div>

<div id="projectlist">
    <h2>Projects</h2>
    <ul>
        <li class="newproject"><a href="{{ DOCBOX_URL }}/project/add/">new project</a></li>
{% if projects %}
{% for project in projects %}
        <li><a href="{{ project.absolute_url }}edit/">{{ project.identifier }}</a></li>
{% endfor %}
{% endif %}
    </ul>
</div>
</td>
<td>
<div id="project">
<div class="yui-skin-sam"> 
    <form method="post" action=".">
        {% if changes %}
        <div id="changes">
        	Branch: <select><option>master</option><option>v1.0</option></select>
        	<span id="doc-changes">
        	<strong><a href="#" onclick="if (document.getElementById('commit').style.display =='none') document.getElementById('commit').style.display='block'; else document.getElementById('commit').style.display='none';">{{ changes|length }} documentation changes</a></strong>
        	</span>
        	<div style="display:none;" id="commit">
        	<div>
        		<table>
        		    {% for change in changes %}
        		    <tr>
        			<td class="status">{{ change.text_status }}</td><td><a href="{{ change.view_url }}">{{ change.displayname }}</td></li>
        			</tr>
        			{% endfor %}
        		</table>
        	</div>
        	<div><textarea id="commitString" name="commitString"></textarea></div>
        	<div>
        	<span id="actions">
        	<input type="submit" name="revert" value="Cancel" />
        	<input type="submit" name="commit" value="Commit" />
        	</span>
        	</div>
        	<br style="clear:both;">
        	</div>
        </div>{% endif %}

        {% if page %}
        <h2>{{ project.identifier }}: {{ page.name }}</h2>
        <p><a id="link_result" href="{{ page.absolute_url }}">View result</a></p>
        {% else %}
        <h2>{{ project.identifier }}: Create a new page</h2>
        <label for="page_name">Title:</label><input type="input" id="page_name" name="page-name" maxlength="200" value="{{ page.name }}" /> {% if page_name_error %}<span id="page_name_error">{{ page_name_error }}</span>{% endif %}
        {% endif %}
        <textarea id="docarea" name="doc-content" class="mceEditor">
            {{ documentation|safe }}
        </textarea>
        <input type="submit" value="Submit" />
    </form>
</div>
</div>
</td>
</tr>
</table>
{% endblock %}
