#content ul#projectlist { float:right; list-style: none; margin: 0; padding: 0; text-indent: 0; border: 1px dotted grey; width: 270px; margin-right: 35px; height: 160px; overflow: scroll;}
#projectlist li { list-style-type: none; display: block; padding: 2px 0 3px 5px; }
#projectlist li a { display: block;}
#content a { text-decoration: none; color: black; }
#content a:hover { background-color: #ccedfb; }
div.yui-skin-sam form div.meta { border: 1px dotted grey; width: 460px; margin: 10px 0;}
#content div.yui-skin-sam form ul { margin: 0; padding: 0; list-style: none; background-color: #eeeeee;}
div.yui-skin-sam form ul li { border-bottom: 1px dotted grey;}
#projectlist li:hover , div.yui-skin-sam form ul li:hover { background-color: #ccedfb;}
div.yui-skin-sam form ul li:last-child { border-bottom: none;}
div.yui-skin-sam form ul li label, div.yui-skin-sam form ul li input { margin: 4px;}
div.yui-skin-sam form ul li textarea { margin-top: 4px;}
div.yui-skin-sam form ul li label { font-size: 9pt; display: inline-block; width: 140px; text-align: left; margin-left: 5px;}
div.yui-skin-sam form ul textarea { height: 15px;}
div.yui-skin-sam form ul input, div.yui-skin-sam form ul textarea, div.yui-skin-sam form ul select { width: 285px;}
div.yui-skin-sam form ul li textarea, div.yui-skin-sam form ul select { margin-left: 4px; }
#content div.yui-skin-sam form ul.errorlist { font-size: 9pt; color: red; list-style: none; margin: 0; padding: 0; margin-left: 160px; margin-top: 10px;}